.nav-link {
    color: rgb(18, 38, 63);
}

.btn-bd-primary {
    background-color: rgb(18, 38, 63);
    border-color: rgb(18, 38, 63);
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.tooltip-arrow {
    display: none !important;
}

.card {
    border: none !important;
    outline: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card .card-body {
    padding: 20px;
}

.card .card-header {
    background-color: white;
}